@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body {
    @apply h-full bg-slate-50 text-slate-900 antialiased;
    font-family: 'Inter', system-ui, sans-serif;
  }

  #root {
    @apply h-full;
  }
}

/* Custom Animations */
@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}